.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .products {background: white;}
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .products {
        background: white;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .products {
        background: white;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
} 
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .products {
        background: white;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }
} 

.product-detail {
    position: fixed;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all ease-out .5s;
    transform: translateX(100%);
    &.active{
      transform: translateX(0);
    }
  }