.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .card__product {
        max-width: 260px;
        height: 350px;
        padding: 16px;
        border-radius: 16px;
        border: 1px solid #c9c9c9;
        img {
            width: 250px;
        }
        h4 {
            color: #3b3b3b;
            font-weight: bold;
        }
        p {
            color: #3b3b3b;
            font-weight: lighter;
        }
        &:hover {
            cursor: pointer;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            transition: ease-in .2s;
        }
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .products {background: red;}
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .products {
        background: green;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .products {
        background: blue;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
} 
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .products {
        background: orange;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }
} 